html        
    head        
    body    
        form(action="/add" method="post" name="in")
            p Name: 
                input(type="text" placeholder="enter unicorn name"  name="name")
            p DOB:
                input(type="date" placeholder="enter DOB"  name="dob")
            p Loves:
                input(type="text" placeholder="enter loves"  name="loves")
            p Weight:
                input(type="text" placeholder="enter weight"  name="weight")
            p Gender:
                input(type="text" placeholder="enter gender"  name="gender")
            p Vampires:
                input(type="text" placeholder="enter vampires"  name="vampires")
            button  ADD